[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.11"
